.productCard {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    position: relative;
}

.productCardLikes {
    align-self: flex-end;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.productCardLikes p {
    padding: 0 5px;
    margin-right: 5px;
    font-size: 18px;
    line-height: 1.5;
}


.productCardLikes svg {
    width: 20px;
    height: 20px;
}

.imgWrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 210px;
}

.productCardImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 30px;
    padding: 5px;

}


@media screen and (max-width: 1024px) {
    .title {
        font-size: 28px;
        line-height: 1.5;
    }
  }

.price {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.price > * {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}

.price > p {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.priceOld {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: gray;
    text-decoration: line-through;
}

.productCardBtn {
    width: 100%;
    max-width: 100%;
}