.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  min-width: 378px;
  height: auto;
}

.main {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 calc(8.8% - 12.5px);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .main {
      padding: 0 10px;
  }
}

.btnInverted {
  color: #FFFFFF;
  background: #000000;
}

.btnLight {
  color:  #000000;
  background: #FFFFFF;
}


.btn {
  border-radius: 5px;
  text-align: center;
  padding: 13px 25px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
  box-shadow: none;
  border: 1px solid currentColor;
}

.btn:focus {
  outline-offset: 3px;
}

.btn:hover:enabled {
  color: #FFFFFF;
  background-color:	#8B4513;
  border: 0;
  box-shadow: 0 0 0 5px #8B4513;
}

.btn:active {
  opacity: 0.5;
}

.btn:disabled,
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.errorField {
  border: 3px dashed #B22222;	
}

.contentSection {
  width: 100%;
  max-width: 100%;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentSection:last-of-type {
  margin-bottom: 20px;
}

.sectionHeading {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  padding: 5px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.catalogList {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 12.5px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalogListItem {
  width: calc(100% / 3 - 25px);
  min-width: 378px;

  min-width: 320px;
  
  margin: 0 12.5px;
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .catalogList {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
  }

  .catalogListItem {
    margin: 0;
    margin-bottom: 20px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

